# IDE's configuration files
.idea
.vscode
.bin

aplc*
eplc-*

header
count.out
devel_logs.txt
parser_tools
*.pyc
*.py

# Project directories
vendor
grammar.md
bootstrap_system_devel
parser-tools
tools
runtime_devel
runtime

# Speciel files
*.nvis
*~
rtv*
*.ertdump
